.standard-font-grey{
    color: #444444!important;
}
.light-grey{
    background-color: #ededed!important;
}
.karla{
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.2px;
}
.lato{
    font-family: 'Lato', sans-serif;
    
}